@media screen and (min-width: 800px)
{
			article#art {
                float:left;
                width: 70%;
                margin: 2%;
				margin-top:20px;
                color: white;
            }
			aside#asi {
				border: solid 1px;
				border-radius: 10px 10px 10px 10px;
                margin: 1%;
				margin-top: 30px;
                float:left;
                width: 23%;
            }
		
			a.pse:hover {
				color:#CCCCCC;
				text-decoration:none;
			}
			a.pse:visited {
				color:#F6E497;
			}
			a.pse {
				color:#CCCCCC;
			}
			section#secactu {
    			border-bottom:solid 1px #DDDDDD;
				padding-bottom:3%;
			}
			h2#titreact {
				margin-top:0px;
				text-decoration:underline;
				text-align:center;
			}
			h2#titrenouv {
				margin-top:0px;
				text-decoration:underline;
				text-align:center;
			}
			li#cache {
				display:none;
			}
}